<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">
  <head style="box-sizing: border-box;">
    <meta charset="utf-8" style="box-sizing: border-box;">
    <link rel="icon" href="favicon.png" style="box-sizing: border-box;">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" style="box-sizing: border-box;">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" style="box-sizing: border-box;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" style="box-sizing: border-box;"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" style="box-sizing: border-box;"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" style="box-sizing: border-box;"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1" style="box-sizing: border-box;">
    <meta name="theme-color" content="#000000" style="box-sizing: border-box;">
    <meta name="description" content="Web site created using create-react-app" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Screen-Page</title>
    <script type="text/javascript">
        var image = new Image();
        image.addEventListener('load', function(){
          var divs = document.getElementById('image-banner')
          // tamanho original
          , oWidth = this.width
          , oHeight = this.height;
          for (var i = 0; i < divs.length; i++) {
            var canvas = document.createElement('canvas')
            ,   ctx = canvas.getContext('2d')
            // coordenadas origem (source)
            ,   sx = 0
            ,   sy = 0
            ,   sWidth = oWidth
            ,   sHeight = oHeight
            // tamanho destino
            ,   dWidth = divs[i].offsetWidth
            ,   dHeight = divs[i].offsetHeight
            // tamanho ideal
            ,   iWidth = Math.round(sHeight / dHeight * dWidth)
            ,   iHeight = Math.round(sWidth / dWidth * dHeight);
            if (sWidth > iWidth) { // cortar na largura
              sx = parseInt((sWidth - iWidth) / 2);
              sWidth = iWidth;
            } else if (sHeight > iHeight) { // cortar na altura
              sy = parseInt((sHeight - iHeight) / 2);
              sHeight = iHeight;
            }
            canvas.width = dWidth;
            canvas.height = dHeight;
            ctx.drawImage(this, sx, sy, sWidth, sHeight, 0, 0, dWidth, dHeight);
            divs[i].appendChild(canvas);
          }
        }, false);
        image.src = "cid:unique@kreata.ee"  ;
    </script>
  </head>

    <body style="box-sizing: border-box;margin: 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,&quot;Noto Sans&quot;,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Noto Color Emoji&quot;;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #fff;min-width: 992px!important;">
    <div class="container-fluid" id="lion-div" style="box-sizing: border-box;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
      <div class="row-fluid" id="image-banner" style="box-sizing: border-box;width: 250px;height: 450px;">
      </div>
      <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
      <h5 class="text-title" style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.25rem;"><%=content.meetingName%></h5>
      <div class="row" style="box-sizing: border-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">
          <label style="box-sizing: border-box;display: inline-block;margin-bottom: .5rem;">Organizadora: </label><br style="box-sizing: border-box;">
          <p class="card-text" style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;margin-left: .4rem;orphans: 3;widows: 3;">  <%=content.organizer%></p>                    
      </div>
      <div class="row" style="box-sizing: border-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">
          <label style="box-sizing: border-box;display: inline-block;margin-bottom: .5rem;">Data: </label><br style="box-sizing: border-box;">
          <p class="card-text" style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;margin-left: .4rem;orphans: 3;widows: 3;">  <%=content.date%>  </p>                
      </div>
      <div class="row" style="box-sizing: border-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;">
        <label style="box-sizing: border-box;display: inline-block;margin-bottom: .5rem;">Hora: </label><br style="box-sizing: border-box;">
        <p class="card-text" style="box-sizing: border-box;margin-top: 0;margin-bottom: 0;margin-left: .4rem;orphans: 3;widows: 3;">  <%=content.time%> </p>                
    </div>
    <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">
    <a class="btn btn-success float-center" target="_blank"  style="box-sizing: border-box;color: #fff;border-radius: 0px 40px 0px 40px;text-decoration: none;background-color: #28a745;display: inline-block;font-weight: 400;text-align: center;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-color: #28a745;" href=<%=content.url%>>Participar da Reunião</a>
    </div>
  </body>
</html>
